GROQ_API_KEY=
PARTICLE_PROJECT_ID=
PARTICLE_CLIENT_KEY=
PARTICLE_APP_ID=
OPBNB_RPC_URL=https://opbnb-testnet-rpc.bnbchain.org
ENTRYPOINT_CONTRACT_ADDRESS=0x5FF137D4b0FDCD49DcA30c7CF57E578a026d2789
MOCK_USDT_CONTRACT_ADDRESS=
